.home-container {
    display: flex;
    padding: 20px;
  }
  
  .home-container-right {
    flex: 1;
    margin-left: 20px;
  }
  
  .home-card {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .card {
    border-radius: 25px;
    height: 200px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #4318ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: #a3aed0 solid;
    padding: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    background-color: #f0f0ff;
  }
  
  .total-events {
    background-color: #e0f7fa;
  }
  
  .total-attendees {
    background-color: #ffecb3;
  }
  
  .card h3 {
    margin: 0;
    font-size: 24px;
  }
  
  .card p {
    font-size: 32px;
    margin: 10px 0 0;
  }
  
  @media (max-width: 768px){

    .card h3 {
      font-size: 14px;
    }

    .card p {
      font-size: 20px;
    }

    .home-container{
      padding: 15px;
    }

    .home-container-right {
      margin-left: 15px;
      
    }

    @media (max-width: 480px){
      .home-container{
        padding: 0;
      }

      .home-container-right {
        margin-left: 0;
        padding: 10px;
      }
    }
  }