.sidemenu-container {
    width: 290px;
    height: 95vh;
    background-color: #F4F7FE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidemenu-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 150px;
    width: 100%;
    justify-content: center;
    color: #4318FF;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: #A3AED0 solid;
}

.sidemenu-header h3 {
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

.sidemenu-header p {
    font-size: 12px;
    margin: 5px 0 0;
    cursor: pointer;
}

.sidemenu-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50%;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #4318FF;
}

.profile-name {
    margin-top: 10px;
    color: #4318FF;
    font-weight: bold;
    font-size: 14px;
}

.sidemenu-items {
    width: 100%;
    background-color: white;
    padding: 20px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidemenu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidemenu-item {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #A3AED0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidemenu-item:hover, .sidemenu-item.active {
    background-color: #4318FF;
    color: white;
}

.sidemenu-item:before {
    content: "";
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #4318FF;
    transform: scaleY(0);
    transition: transform 0.3s;
}

.sidemenu-item:hover:before, .sidemenu-item.active:before {
    transform: scaleY(1);
}

.sidemenu-icon {
    margin-right: 10px;
    font-size: 18px;
}
