.hero-container {
    color: #2B3674;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.hero-text {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for better readability */
}
