.events-container {
    display: flex;
    padding: 20px;
}

.events-container-right {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.events-list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.event-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-card h3 {
    margin: 0;
    font-size: 20px;
    color: #2B3674;
}

.event-buttons {
    display: flex;
    justify-content: left;
    gap: 50px;
}

.event-buttons button {
    background-color: #4318FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-buttons button:hover {
    background-color: #2B3674;
}

.events-list::-webkit-scrollbar {
    width: 10px;
}

.events-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.events-list::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

.events-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media (max-width: 768px) {
    .events-container {
        padding: 15px;
    }

    .events-container-right {
        padding: 0;
        margin-left: 15px;
    }

    .event-card h3 {
        font-size: 14px;
    }

    .event-buttons button {
        font-size: 10px;
    }
}

@media (max-width: 480px){
    .events-container {
        padding: 0;
    }

    .events-container-right {
        margin-left: 0;
        padding: 10px;
    }

    .event-card {
        gap: 10px;
    }
}