.viewevent-container {
  display: flex;
  padding: 20px;
}

.viewevent-container-right {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  height: 95vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hero-container {
  flex: 0 0 auto;
}

.event-details {
  flex: 1 1 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  margin-top: 20px;
}

.event-details h2 {
  margin-top: 0;
  color: #2B3674;
}

.event-details p {
  margin: 5px 0;
  color: #2B3674;
}

.attendees-list {
  margin-top: 20px;
}

.attendees-list h3 {
  color: #2B3674;
}

.attendees-list ul {
  list-style-type: none;
  padding: 0;
}

.attendees-list li {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #E0E0E0;
}

.attendees-list p {
  margin: 5px 0;
}

.event-form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.event-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event-form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.event-form input,
.event-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.event-form button {
  background-color: #4318FF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 68px;
  height: 40px;
}

.event-form button:hover {
  background-color: #2B3674;
}

.attendee-form {
  margin-bottom: 15px;
}

.attendee-form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.attendee-form button {
  background-color: #FF4D4D;
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.attendee-form button:hover {
  background-color: #CC0000;
}

@media (max-width: 768px) {
  .viewevent-container {
    padding: 15px;
  }

  .viewevent-container-right {
    padding: 0;
    margin-left: 15px;

  }

  .event-details h2 {
    font-size: 18px;
  }

  .event-details p {
    font-size: 14px;
  }

  .attendees-list h3 {
    font-size: 18px;
  }

  .edit-attendee-title {
    font-size: 18px;
  }

  .event-form label {
    font-size: 14px;
  }

  .event-form input {
    font-size: 14px;
  }

  .event-form input,
  .event-form textarea {
    padding: 5px;
  }

  .event-form button {
    font-size: 10px;
    width: 56px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .viewevent-container {
    padding: 0;
  }

  .viewevent-container-right {
    margin-left: 0;
    padding: 10px;
  }

  .event-details h2 {
    font-size: 16px;
  }

  .event-details p {
    font-size: 12px;
  }

  .attendees-list h3 {
    font-size: 16px;
  }

  .edit-attendee-title {
    font-size: 16px;
  }

  .event-form label {
    font-size: 12px;
  }

  .event-form input {
    font-size: 12px;
  }

}